body {
 background-color: cornSilk;
 margin: 0px 17px 22px 17px
}

h1 {
 color: black;
}

h4 {
  font-size: 19px;
  font-family: cursive
}

p2 {
  font-family:  cursive;
}

h5 {
  color: gray;
  font-family: Helvetica;
}

p {
 color: gray;
 font-weight: bold;
 font-family: cursive;
 font-size: 19px;
}

button {
  background-color: thistle;
  font-weight: bold;
  border-radius: 50px 50px 50px 50px
} 

#back{
  color: black;
  outline: none;
    -webkit-tap-highlight-color: transparent;
  }


.sekolah {
  background-color: thistle;
  font-family: Georgia;
  width: 37px ;
  height: 36px;
}
